{% extends 'layout_admin.html' %}
{% load static %}
{% include bootstrap %}
{% block title %}
<title>Add Equipment</title>
<style>
    #sel{
        width: 300px;
        height: 40px;
    }

    #sel option{
        width: 700px;
        height: 60px;
    }

</style>
{% endblock title %}

{% block content %}
    {% for error in errors %}
    {{error}}
    {% endfor %}
    <div class="container-fluid px-4">

    <form method="POST">
        {% csrf_token %}

        <div class="card">
            <div class="card-header text-center bg-success">
                <h2 class="text-light">Add Equipments</h2>
              </div>
          <div class="card-body">
             <div class="row m-4">
            <div class="col">
                <label class="mr-3 pr-4">Equipment :</label>
                <input type="text" required placeholder="Enter equipment name" name="name" style="height: 40px; width: 70%">
            </div>
            <div class="col">
                <label class="mr-5 pr-4">Categories : </label>
                <select id='sel' name="category" required>
                {% for category in categories %}
                <option value="{{category}}">{{category}}</option>
                {% endfor %}
                </select>
            </div>
        </div>
        

              </div>
             <div class="card-footer">
        <div class="row text-center">
            <div class="col text-center">
             <button type="submit" class="btn btn-success w-25">Submit</button>

             </div>
            </div>

          </div>
        </div>

       </form>
        <div class="table-responsive overflow-auto mt-4" style="height: 500px; overflow: scroll">
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">SN</th>
              <th scope="col">Equipment Name</th>
              <th scope="col">Equipment Category</th>
                <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
          {% for equipment in all_equipments %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ equipment.name }}</td>
              <td>{{ equipment.category }}</td>
                <td>
                    <a href="/admins/editEquipments/{{equipment.id}}"
                       class="btn btn-primary btn-sm">
                    Update</a>
                <a href="/admins/deleteEquipments/{{equipment.id}}"
                       class="btn btn-danger btn-sm" onclick="return confirm('Are you sure want to update this equipment?')">
                    Delete</a>
                 </td>

            </tr>
          {% endfor %}
          </tbody>
        </table>
        </div>
    </div>


{% endblock content %}

