{% extends 'layout_admin.html' %}
{% load static %}
{% include bootstrap %}
{% block title %}
<title>Edit Equipment</title>
<style>
    #sel{
        width: 300px;
        height: 40px;
    }

    #sel option{
        width: 700px;
        height: 60px;
    }

</style>
{% endblock title %}

{% block content %}
    {% for error in errors %}
    {{error}}
    {% endfor %}
    <div class="container-fluid px-4">

    <form method="POST">
        {% csrf_token %}

        <div class="card">
            <div class="card-header text-center bg-success">
                <h2 class="text-light">Add Equipments</h2>
              </div>
          <div class="card-body">
             <div class="row m-4">
            <div class="col">
                <label class="mr-3 pr-4">Equipment :</label>
                <input type="text" placeholder="Enter equipment name" name="name" value="{{equipment.name}}" style="height: 40px; width: 70%">
            </div>
            <div class="col">
                <label class="mr-5 pr-4">Categories : </label>
                <select id='sel' name="category">
                {% for category in categories %}
                {% if category == equipment.category %}
                <option value="{{category}}" selected>{{category}}</option>
                {% else %}
                <option value="{{category}}">{{category}}</option>
                {% endif %}
                {% endfor %}
                </select>
            </div>
        </div>
        

              </div>
             <div class="card-footer">
        <div class="row text-center">
            <div class="col text-center">
             <button type="submit" class="btn btn-success w-25">Submit</button>

             </div>
            </div>

          </div>
        </div>

       </form>
        
    </div>


{% endblock content %}

