{% extends 'layout_admin.html' %}
{% load static %}
{% include bootstrap %}
{% block title %}
<title>Reports on Users</title>


{% endblock title %}

{% block content %}
    {% for error in errors %}
    {{error}}
    {% endfor %}
    <div class="container-fluid px-4">
        <div class="card">
            <div class="card-header text-center">
                <h3 class="text-secondary">Report on Users</h3>
              </div>
            <div class="card-body">
                <div class="table-responsive overflow-auto mt-4" style="height: 500px; overflow: scroll">
                <table class="table text-center table-hover">
                  <thead class="thead">
                    <tr>
                      <th scope="col">SN</th>
                      <th scope="col">Reported User</th>
                      <th scope="col">Total Reports</th>
                      <th scope="col">Action</th>
                      <th scope="col" colspan=4>Report Details</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    {% for report in report_data %}
                    <tr>
                      <th scope="row" >{{forloop.counter}}</th>
                      <td class="text-capitalize">{{report.reported_user.first_name}} {{report.reported_user.last_name}}</td>
                      <td>{{report.total_reports}}</td>
                      <td>
                        <button 
                          type="button" 
                          data-toggle="modal" 
                          data-target="#TicketCreate{{forloop.counter}}" 
                          class="btn btn-sm btn-primary"
                        >
                          Create Ticket
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="TicketCreate{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                              <div class="modal-header font-weight-light">
                                  <div class="h3">
                                    Create Ticket
                                  </div>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                  <form method='POST' action="/admins/create-ticket/user/{{report.reported_user.id}}/{{report.reported_user.id}}/">
                                    {% csrf_token %}
                                    <div class="form-group row">
                                      <label for="title" class="col-sm-2 col-form-label">Title</label>
                                      <div class="col-sm-10">
                                        <input type="text" required class="form-control" id="title" placeholder="Title" name="title">
                                      </div>
                                    </div>
                                    <div class="form-group row">
                                      <label for="description" class="col-sm-2 col-form-label">Description</label>
                                    
                                      <div class="col-sm-10">
                                        <textarea required class="form-control" id="description" rows="3" placeholder="Enter the description" name="description"></textarea>
                                        
                                      </div>
                                    </div>
                                    <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                                  </form>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td>
                        <table class="table table-hover">
                          <tr>
                            <th scope="col">Reported By</th>
                            <th scope="col">Report Type</th>
                            <th scope="col">Date & Time</th>
                            <th scope="col">View Details</th>
                          </tr>
                          {% for users in report.reported_by %}
                            <tr>
                              <td class="text-capitalize">{{users.first_name}} {{users.last_name}}</td>
                              <td>{{users.report_category}}</td>
                              <td>{{users.reported_date}}</td>
                              <td>
                                  <a href="#"
                                      class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#UserReport{{report.reported_user.id}}{{forloop.counter}}">
                                    View Details</a>
                              </td>
                            </tr>
                            <!-- Modal -->
                            <div class="modal fade" id="UserReport{{report.reported_user.id}}{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                <div class="modal-content">
                                  <div class="modal-header font-weight-light">
                                      Reported by : <span class="text-capitalize">{{users.first_name}} {{users.last_name}}</span>

                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                      <div class="row">
                                          <div class="col-md-4 ml-auto font-weight-bold h3 text-capitalize">{{report.reported_user.first_name}} {{report.reported_user.last_name}}</div>
                                          <div class="col-md-4 font-weight-light text-capitalize">Report Type: {{users.report_category}}</div>

                                      </div>
                                      <hr>
                                      <div>
                                        {{users.report_description}}
                                      </div>
                                      <br>
                                    <div class="col-md-4 ml-auto font-weight-light">{{users.reported_date}}</div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Resolved</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          {% endfor %}
                        </table>
                      </td>
                      
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
                </div>
            </div>

        </div>



    </div>


{% endblock content %}

