
h3{
    color: #b67721;
  }

  .form-div{
      color: #b67721;
      font-weight: bold;
  }

  thead{
      background-color: #d18a27;
      color: #fff;
  }

  .table{
      background-color: #fae4c6;
  }
