
img {
  width: 100%;
  display: block;
}
.container {
  width: 88vw;
}

.lg-title {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  padding: 0.1rem;
  color: #ac7a55;
  text-transform: uppercase;
}

.products {
  padding: 0.6rem ;
}

.product {
  margin: 0.5rem;
  position: relative;
}
.product-content {
  background: rgb(253, 251, 251);
  padding: 1.7rem 0.3rem 0.4rem 0.5rem;
  cursor: pointer;
}
.product-img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  /* transition: background 0.5s ease; */
}

.product-info {
  background: #dfc4a6;
  padding: 0.5rem;
}

.product-name {
  text-align: center;
  color: rgb(110, 109, 109);
  display: block;
  text-decoration: none;
  font-size: 0.9rem;
  font-family: sans-serif;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.product-img img {
  transition: transform 0.5s ease;
}
.product:hover .product-img img {
  transform: scale(0.9);
}

input {

  border: none;
  outline: none;
  padding: 8px;
  font-size: large;
  border-radius: 5px;
  box-shadow: 0 2px 5px;
  width: 100px;
}
.box{
    padding-left: 45px;
    position:relative;
    left: 32%;

}

.product-info .box input:hover,
input:focus {
  background: rgba(134, 129, 129, 0.5);
  color: #fff;
}

.btn {
  border: none;
  background-color: rgb(231, 165, 79);
  color: #222;
  font-size: medium;
  border-radius: 5%;
  padding: 25px 15px;
  cursor: pointer;
}

.btn:hover {
  background-color: #ccc;
}

.products .container .submit-button button[type="submit"] {
  margin-top: 30px;
  display: block;
  width: 28%;
  height: 50px;
  border-radius: 25px;
  background: #a67b5b;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  align-items: center;
  padding-bottom: 40px;
}

.products .container .submit-button {
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;

}

/* Media Queries */
@media screen and (min-width: 992px) {
  .product-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .product-col-r-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .product-items {
    grid-template-columns: repeat(3, 1fr);
  }
  .product {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .products .text-light {
    width: 50%;
  }

}

@media screen and (min-width: 1336px) {
  .product-items {
    grid-template-columns: repeat(3, 1fr);
  }

  .flex {
    height: 60vh;
  }
  .product-col-left {
    height: 121.5vh;
  }
}
