
{% extends 'layout-farmers.html' %}

{% load static %}

{% block title %}
<title>Add Expense</title>
<link href="{% static 'farmers/css/editproduct.css' %}" rel="stylesheet">
{% endblock title %}

{% block content %}

<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins mt-5">
        <div class="wrapper wrapper--w680">
            <div class="card card-4" style="width: 100%;">
                <div class="card-body">
                    <p class="title">Add Expenses</p>
                    <form method="POST">
                      {% csrf_token %}
                      

                      <div class="">

                      <div class="input-group-icon">
                        <select required class="selectProduct input--style-4" name="category" placeholder="Category">
                        {% for type in type %}
                          <option value="{{type}}">{{type}}</option>
                        {% endfor %}
                        </select>
                          
                      </div>
                  </div>

                      <div class="">

                        <div class="input-group-icon">
                            <input required class="input--style-4" type="text" name="particular" placeholder="Particular">
                        </div>
                    </div>

        <div class="">
          <div class="input-group-icon">
            <input required class="input--style-4" type="text" name="unit" placeholder="Unit">
          </div>
				</div>

        <div class="">
          <div class="input-group-icon">
            <input required class="input--style-4" type="number" name="quantity" placeholder="Quantity" step=".1">
          </div>
				</div>
                    
                                
        <div class="">
          <div class="input-group-icon">
            <input required class="input--style-4" type="number" name="amount" placeholder="Expense Amount" step=".1">
          </div>
				</div>

				<div class="" style="margin-top: 15px;">
          <div class="input-group-icon">
            <textarea class="input--style-4" name="remarks" placeholder="Remarks" rows="2"></textarea>
          </div>
				</div>
                        
        <div class="btn-block">
					<button type="submit">Submit</button>
				</div>
    
      </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
