
    
    
    
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" placeholder="Enter product name" name="name">
        <input type="number" placeholder="Enter quantity" name="quantity">
        <select name="category">
            <option value="Cereals">Cereals</option>
            <option value="Pulses">Pulses</option>
            <option value="Vegetables">Vegetables</option>
            <option value="Fruits">Fruits</option>
            <option value="Nuts">Nuts</option>
            <option value="Oilseeds">Oilseeds</option>
            <option value="Sugars and Starches">Sugars and Starches</option>
            <option value="Fibres">Fibres</option>
            <option value="Beverages">Beverages</option>
            <option value="Narcotics">Narcotics</option>
            <option value="Spices">Spices</option>
            <option value="Condiments">Condiments</option>
            <option value="Others">Others</option>
        </select>
        <input type="number" placeholder="Enter Price" name="price">
        <input type="file" placeholder="Choose file" name="image">

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

