{% extends 'layout-farmers.html' %}
{% load static %}

{% block title %}
<title>Add Production</title>
<link href="{% static 'farmers/css/editproduct.css' %}" rel="stylesheet">
{% endblock title %}

{% block content %}
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins mt-5">
        <div class="wrapper wrapper--w680">
            <div class="card card-4" style="width: 100%;">
                <div class="card-body">
                    <p class="title">Add Production</p>
                    <form method="POST">
                      {% csrf_token %}

                        <div class="">
                            <div class="input-group-icon">
                                <select class="input--style-4 selectProduct" name="product_type" id="product_category" onchange="changeName()">
                                {% for category in categories %}
                                  <option value="{{category}}">{{category}}</option>
                                {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="">
                            <div class="input-group-icon">
                                <select class="input--style-4 selectProduct" name="product_id" id="productname">
                                </select>
                            </div>
                        </div>
                        <div class="">
                            <div class="input-group-icon">
                                <input class="input--style-4" type="number" name="production_qty" required placeholder="Production Quantity">

                            </div>
                        </div>
                        <div class="">
                            <div class="input-group-icon">
                                <input class="input--style-4" type="text" name="area" required placeholder="Area">
                                
                            </div>
                        </div>
                                
                        <div class="btn-block">
                            <button type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{products|json_script:"products"}}


    <script>
        const product = JSON.parse(document.getElementById('products').textContent);
        const prod_names = document.getElementById('productname');
        
        var category = document.getElementById('product_category');
        var htmlContent = '';
        addNames(category.value);
        prod_names.innerHTML = htmlContent;

        function addNames(prod_type) {
            for(var i=0; i<product.length; i++) {
                if(product[i].prod_category == prod_type) {
                    var prod_name = product[i].prod_name;
                    var prod_id = product[i].id;
                    htmlContent += '<option value="' + prod_id +'">' + prod_name + '</option>';                    
                }
            }

        }

        function changeName() {
            var product_category = document.getElementById('product_category');
            htmlContent='';
            addNames(product_category.value);
            prod_names.innerHTML = htmlContent;
        }

    </script>
{% endblock content %}