{% extends 'layout-farmers.html' %}

{% load static %}

{% block title %}
<title>Add Product Farmers</title>
<link href="{% static 'farmers/css/addProduct.css' %}" rel="stylesheet">
{% endblock title %}

{% block content %}

    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4" style="width: 100%;">
                <div class="card-body">
                    <p class="title">Add Product</p>
                    <form method="POST">
                        <div class="row row-space">
                            <div class="col-6">
								<div class="input-group">
									<select class="selectProduct input--style-4" id="">
									  <option>Type</option>
									  <option>2</option>
									  <option>3</option>
									  <option>4</option>
									  <option>5</option>
									</select>
								</div>
                            </div>
                            <div class="col-6">
                                <div class="input-group">
									<select class="selectProduct input--style-4" id="ptroductname">
									  <option>Product Name</option>
									  <option>2</option>
									  <option>3</option>
									  <option>4</option>
									  <option>5</option>
									</select>
								</div>
                            </div>
                        </div>
                                <div class="" style="margin-top: 25px;">

                                    <div class="input-group-icon">
                                        <input class="input--style-4" type="number" name="Quantity" placeholder="Quantity">
                                    </div>
                                </div>
								<div class="">
                                    <div class="input-group-icon">
                                        <input class="input--style-4" type="number" name="Price" placeholder="Price">
                                    </div>
								</div>
								<div class="" style="margin-top: 15px;">

                                    <div class="input-group-icon">
                                        <textarea class="input--style-4" name="Details" placeholder="Details" rows="2"></textarea>
                                    </div>
								</div>
                        <div class="btn-block">
						  <button type="submit">ADD</button>
						</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  {% endblock content %}