
{% extends 'layout-farmers.html' %}

{% load static %}

{% block title %}
<title>Edit Expense</title>
<link href="{% static 'farmers/css/editproduct.css' %}" rel="stylesheet">
{% endblock title %}

{% block content %}

<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins mt-5">
  {% if expense_data %}
        <div class="wrapper wrapper--w680">
            <div class="card card-4" style="width: 100%;">
                <div class="card-body">
                    <p class="title">Edit Expenses</p>
                    <form method="POST">
                      {% csrf_token %}
                      

                      <div class="">

                      <div class="input-group-icon">
                        <select required class="selectProduct input--style-4" name="category" placeholder="Category">
                        {% for type in type %}
                          {% if type == expense_data.expense_type %}
                            <option value="{{type}}" selected>{{type}}</option>
                          {% else %}
                            <option value="{{type}}">{{type}}</option>
                          {% endif %}
                        {% endfor %}
                        </select>
                          
                      </div>
                  </div>

                      <div class="">

                        <div class="input-group-icon">
                            <input required class="input--style-4" type="text" name="particular" placeholder="Particular" value={{expense_data.particular}}>
                        </div>
                    </div>

        <div class="">
          <div class="input-group-icon">
            <input class="input--style-4" required type="text" name="unit" placeholder="Unit" value={{expense_data.unit}}>
          </div>
				</div>

        <div class="">
          <div class="input-group-icon">
            <input class="input--style-4" required type="number" name="quantity" placeholder="Quantity" step=".1" value={{expense_data.quantity}}>
          </div>
				</div>
                    
                                
        <div class="">
          <div class="input-group-icon">
            <input class="input--style-4" required type="number" name="amount" placeholder="Expense Amount" step=".1" value={{expense_data.amount}}>
          </div>
				</div>

				<div class="" style="margin-top: 15px;">
          <div class="input-group-icon">
            <textarea class="input--style-4" name="remarks" placeholder="Remarks" rows="2">{% if expense_data.remarks %}{{expense_data.remarks}}{% endif %}</textarea>
          </div>
				</div>
                        
        <div class="btn-block">
					<button type="submit">Submit</button>
				</div>
    
      </form>
      </div>
    </div>
  </div>
  {% else %}
  Not your Expense
  {% endif %}
</div>
{% endblock content %}
