{% extends 'layout-farmers.html' %}
{% block title %}
<title>Equipment To Rent Requests</title>
<!-- insert css of this page here -->
{% endblock title %}


{% block content %}




        <div class="rounded mb-5 rounded p-4 mx-auto mt-5 shadow-lg p-3 mb-5 rounded" style="width:90%;">

        <div class="text-center mb-3">
            {% if approved and seen %}
            <h3>Approved Rent Requests</h3>
            {% elif not approved and seen %}
            <h3>Disapproved Rent Requests</h3>
            {% elif not approved and not seen %}
            <h3>Pending Rent Requests</h3>
            <em>(Yet To See)</em>
            {% endif %}
        </div>

        <div class="form-inline justify-content-center">
            <a href="/farmers/eqpBuyRequests" class="btn my-1 p-2 m-3 text-light" style="border-radius: 25px; padding: 7px; font-size: 18px; width:260px; background-color:#A67B5B">Buy Requests</a>
            <a href="/farmers/eqpRentRequests" class="btn my-1 p-2 m-3 text-light" style="border-radius: 25px; padding: 7px; font-size: 18px; width:260px; background-color:#A67B5B">Rent Requests</a>
        </div>
        
        <br>
        <div class="form-inline justify-content-center mb-2">
            <a href="/farmers/eqpRentRequests/approved" class="btn btn-success my-1 p-2 m-2" style="border-radius: 25px; padding: 7px; font-size: 17px; width:170px">Approved</a>
            <a href="/farmers/eqpRentRequests/disapproved" class="btn btn-danger my-1 p-2 m-2" style="border-radius: 25px; padding: 7px; font-size: 17px; width:170px">Disapproved</a>
            <a href="/farmers/eqpRentRequests" class="btn btn-primary my-1 p-2 m-2" style="border-radius: 25px; padding: 7px; font-size: 17px; width:170px">Pending</a>
        </div>




      <div class="row">
        <div class="container">
            <div class="row justify-content-center m-3">
              <div style="height:40vh; overflow-y: scroll;">
              <table class="table table-striped table-hover table-borderless table-sm  text-center mt-2 bg-light" style="width:1300px;">
                    <thead>
                     <tr style="font-size:16px; color:#A67B5B">
                        <th scope="col">S.N.</th>
                        <th scope="col">Request By</th>
                        
                        <th scope="col">Address</th>
                        <th scope="col">Requested Date</th>
                        <th scope="col">Equipment</th>
                        <th scope="col">Equipment Category</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Rented Duration</th>
                        <th scope="col">Total Price</th>
                        <th scope="col">Status</th>
                        <th scope="col">Remarks</th>
                        {% if not seen or not approved %}
                        <th scope="col">Action</th>
                        {% endif %}
                        
                      </tr>
                    </thead>

                    <tbody>
                      {% for eqp_req in eqp_request %}
                      
                      <tr  style="font-size:14px;">
                        <th scope="row">{{forloop.counter}}</th>
                        <td class="text-capitalize">{{eqp_req.rented_to.first_name}} {{eqp_req.rented_to.last_name}}</td>
                        
                        <td>{{eqp_req.delivered_address}}</td>
                        <td>{{eqp_req.rented_date}}</td>
                        <td>{{eqp_req.equipment.equipment.name}}</td>
                        <td>{{eqp_req.equipment.equipment.category}}</td>
                        <td>{{eqp_req.rented_quantity}}</td>
                        <td>{{eqp_req.rented_duration}}</td>
                        <td>{{eqp_req.total_price}}</td>
                        <td>
                          {% if eqp_req.approved %}
                            Approved
                          {% else %}
                            Disapproved
                          {% endif %}
                          
                        </td>
                        <td class="text-capitalize">
                          {% if eqp_req.remarks %}
                          {{eqp_req.remarks}}
                          {% else %}
                          -
                          {% endif %}
                        </td>
                        {% if not seen %}
                        <td scope="col">
                          <a href="/farmers/editRentRequest/{{eqp_req.id}}" class="btn btn-success my-2">Edit</a>
                          <a href="/farmers/deleteRentRequest/{{eqp_req.id}}" class="btn btn-danger">Delete</a>
                        </td>
                        {% elif not approved %}
                        <td scope="col">
                          <a href="/farmers/deleteBuyRequest/{{eqp_req.id}}" class="btn btn-danger">Delete</a>
                        </td>
                        {% endif %}
                        
                      </tr>
                      
                      {% endfor %}
                    </tbody>
                  </table>
                  </div>
                  </div>
                  </div>
                  </div>

                </div>
        </div>


            






{% endblock content %}