<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmers Dashboard</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    />
    
    <script
      src="<script"
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    ></script>
    
</head>

<body>
<div class="container">
<h1>This is Farmers page.</h1>
<ul>
  <li><a href="/farmers/addProducts">Add Product</a></li>
  <li><a href="/farmers/myProducts">My Products</a></li>
</ul>
<a href="/logout" class="btn btn-danger">Logout</a>
</div>

</body>
</html>
