{% extends 'layout-farmers.html' %}
{% load static %}

{% block title %}
<title>Image Testing</title>
<link rel="stylesheet" href="{% static 'farmers/css/imagetest.css' %}">

{% endblock title %}

{% block content %}
<div class="title">
    <h1>Image Testing</h1>
    <br>
    <br>
    <div class="result">
    <h3>The recommended crops according to soil image:</h3>
        <h2>{{ img_result }}</h2>

</div>

</div>

<div class="main-container">
  <div class="container">
         <div class="wrapper-imgtest">
               <img class="image" src="" alt="">

            <div class="content">
               <div class="icon">
                  <i class="fas fa-cloud-upload-alt"></i>
               </div>
               <div class="text">
                  No file chosen, yet!
               </div>
            </div>
            <div id="cancel-btn">
               <i class="fas fa-times"></i>
            </div>
            <div class="file-name">
               File name here
            </div>
         </div>
         <button onclick="defaultBtnActive()" id="custom-btn">Choose a file</button>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
             <input id="default-btn" required type="file" name="image" hidden>

            <div class="submit-button">
            <button type="submit" class="btn btn-light">Predict</button>
            </div>
        </form>

</div>
</div>


    <script src='{% static "farmers/js/image_script.js" %}'></script>
{% endblock content %}