{% extends 'layout-farmers.html' %}

{% block title %}
<title>My Expenses</title>
{% endblock title %}

{% block content %}
<h3 class="text-center mb-4">My Expenses</h3>
<table class="table table-striped text-center">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Category</th>
      <th scope="col">Particular </th>
      <th scope="col">Unit</th>
	    <th scope="col">Quantity</th>
      <th scope="col">Amount</th>
      <th scope="col">Date</th>
      <th scope="col">Remarks</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for expense in my_expense %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{expense.expense_type}}</td>
      <td>{{expense.particular}}</td>
      <td>{{expense.unit}}</td>
	    <td>{{expense.quantity}}</td>
      <td>{{expense.amount}}</td>
      <td>{{expense.expense_date}}</td>
      <td>
        {% if expense.remarks %}
          {{expense.remarks}}
        {% else %}
          -
        {% endif %}
      </td>
      <td>
        <a href="/farmers/editExpense/{{expense.id}}" class="btn btn-success">Edit</a>
        <a href="/farmers/deleteExpense/{{expense.id}}" class="btn btn-danger">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}