{% extends 'layout-farmers.html' %}

{% block title %}
<title>My Expenses</title>
{% endblock title %}

{% block content %}

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Category</th>
      <th scope="col">Particular </th>
      <th scope="col">Unit</th>
	    <th scope="col">Quantity</th>
      <th scope="col">Amount</th>
      <th scope="col">Remarks</th>
    </tr>
  </thead>
  <tbody>
    {% for expense in my_expense %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
	    <td>Otto</td>
      <td>@mdo</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}