{% extends 'layout-farmers.html' %}

{% block title %}
<title>My Production</title>
{% endblock title %}

{% block content %}
<h3 class="text-center mb-4">My Production</h3>
<table class="table table-striped text-center">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Product</th>
      <th scope="col">Production Quantity</th>
      <th scope="col">Area</th>
      <th scope="col">Production Date</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% if my_production|length > 0 %}
    {% for production in my_production %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{production.product_id.prod_name}}</td>
      <td>{{production.production_qty}} kg</td>
      <td>{{production.area}} sq. ft.</td>
      <td>{{production.production_date}}</td>
      <td>
        <a href="/farmers/editProduction/{{production.id}}" class="btn btn-success">Edit</a>
        <a href="/farmers/deleteProduction/{{production.id}}" class="btn btn-danger">Delete</a>
      </td>
    </tr>
    {% endfor %}
    {% else %}
    <h1 class="text-capitalize text-center">No production present</h1>
    {% endif %}
  </tbody>
</table>
{% endblock content %}