{% extends 'layout-farmers.html' %}

{% block title %}
<title>My Sales</title>
{% endblock title %}

{% block content %}
<table class="table text-center">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Product Name</th>
      <th scope="col">Sold To</th>
      <th scope="col">Sold Quantity</th>
	    <th scope="col">Sold at</th>
      <th scope="col">Sold Date</th>
      <th scope="col">Remarks</th>

    </tr>
  </thead>
  <tbody>
    {% if my_sales|length > 0 %}
    {% for sale in my_sales %}
    <tr>
      <th scope="row">{{forloop.counter}}</td>
      <td>{{sale.sold_product.product.prod_name}}</td>
      <td>{{sale.sold_to.first_name}} {{sale.sold_to.last_name}}</td>
      <td>{{sale.quantity_sold}} kg</td>
	    <td>NRs. {{sale.sold_price}}</td>
      <td>{{sale.sold_date}}</td>
      <td class="text-capitalize">
        {% if sale.remarks %}
          {{sale.remarks}}
        {% else %}
          -
        {% endif %}
      </td>
      
    </tr>
    {% endfor %}
    {% else %}
    <h1 class="text-capitalize text-center">No sales present</h1>
    {% endif %}
  </tbody>
</table>
{% endblock content %}