{% extends 'layout-farmers.html' %}

{% block title %}
<title>My Stock</title>
{% endblock title %}

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Product Name</th>
      <th scope="col">Remaining Stock</th>
    </tr>
  </thead>
  <tbody>
    {% if my_stock|length > 0 %}
    {% for stock in my_stock %}
    <tr>
      <th scope="row">{{stock.id}}</th>
      <td>{{stock.product_id.prod_name}}</td>
      <td>{{stock.stock}} kg</td>
    </tr>
    {% endfor %}
    {% else %}
    <h1 class="text-capitalize text-center">No stock present</h1>
    {% endif %}
  </tbody>
</table>
{% endblock content %}