{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Sidebar Dashboard Template With Sub Menu</title>
        <link rel="stylesheet" href="{% static 'farmers/css/navstyle.css' %}">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" >
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
    </head>
    <body>

        <!--wrapper start-->
        <div class="wrapper">
            <!--header menu start-->
            <div class="header">
                <div class="header-menu">
                    <!-- <div class="title"> -->
                        <img src="{% static 'farmers/images/logo1.png' %}" alt="logo">
                    <!-- </div> -->
                    <div class="sidebar-btn">
                        <i class="fas fa-bars"></i>
                    </div>
                    <ul>
                        <li><a href="#"><i class="fas fa-power-off"></i></a></li>
                    </ul>
                </div>
            </div>
            <!--header menu end-->
            <!--sidebar start-->
            <div class="sidebar">
                <div class="sidebar-menu">
                    <li class="item" id="profile">
                        <a href="#profile" class="menu-btn">
                            <i class="fas fa-thermometer-quarter"></i><span>Soil Testing <i class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <a href="#"><i class="fas fa-vial"></i><span>NPK Testing</span></a>
                            <a href="#"><i class="fas fa-address-card"></i><span>Image Testing</span></a>
                        </div>
                    </li>

                    <li class="item">
                        <a href="#" class="menu-btn">
                            <i class="far fa-clipboard"></i></i><span>Previous records</span>
                        </a>
                    </li>

                    <li class="item">
                        <a href="#" class="menu-btn">
                            <i class="far fa-comment"></i><span>Feedbacks</span>
                        </a>
                    </li>

                    <li class="item">
                        <a href="#" class="menu-btn">
                            <i class="fas fa-pen"></i><span>Write Notes</span>
                        </a>
                    </li>

                    <li class="item">
                        <a href="/farmers/addProducts" class="menu-btn">
                            <i class="fas fa-pen"></i><span>Add Products</span>
                        </a>
                    </li>

                    <li class="item">
                        <a href="/farmers/myProducts" class="menu-btn">
                            <i class="fas fa-pen"></i><span>My Products</span>
                        </a>
                    </li>
                    

                    <li class="item">
                        <a href="#" class="menu-btn">
                            <i class="fas fa-chalkboard-teacher"></i><span>Instructions</span>
                        </a>
                    </li>

                    <li class="item">
                        <a href="#" class="menu-btn">
                            <i class="fas fa-phone-square-alt"></i><span>Contact us</span>
                        </a>
                    </li>
                </div>
            </div>
<!-----------------------------------------------------sidebar end-------------------------------------------------------->
            <!--main container start----------------This is for image testing--------------------->
            <div class="main-container">
                <h2 class="title text-center mt-4">Image Testing</h2>
                <form action="/predict" method="post" enctype="multipart/form-data" onsubmit="showloading()">
                    <div class="drag-area">
                        <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
                        <header>Drag & Drop Your Soil image </header>
                        <span>OR</span>
                        <button>Browse File</button>
                        <input type="file" hidden>
                    </div>
                    <div class="submit-btn">
                        <input type="submit" value="Predict" class="btn btn-block text-uppercase">
                    </div>
                </form>
            </div>

            <!--main container end-->

            <!-- prediction result -->
            <div class="col-sm" style="margin-bottom: 23px;">
                <span class="border border-primary">
                    <img src="{{ user_image }}" alt="User Image" class="img-thumbnail">
                    <!-- <img src="{{pred_output}}" alt="User Image" class="img-thumbnail"> -->

0+-98}+'[-;yW-  1456'
                </span>
            </div>
            <!-- ----------- -->
            
        </div>
        
        <!--wrapper end-->
        <script src='{% static "farmers/js/script.js" %}'></script>

    </body>
</html>
      
    