{% extends 'layout-farmers.html' %}

{% load static %}

{% block title %}
<title>Product Details</title>
<link href="{% static 'farmers/css/productDetails.css' %}" rel="stylesheet">
{% endblock title %}

{% block content %}

<div class="container">
    <div class="row mt-2" >
        <div class="col col-6">
            <div class="image-box mt-2">
                <figure class="view overlay rounded z-depth-1 main-img w-100">

                <img src="/{{product_data.product.prod_img}}"
                  class="img-fluid z-depth-1 d-block mx-auto" style="height: 350px; border-radius:10px;">

            </figure>
            </div>
        </div>
        <div class="col mt-3 custom-table">
			<div class="row">
				<div class="col col-9">
					<img class="img-fluid" src="/{{product_data.added_by.profile.profile_pic}}" alt="" style="height: 2rem; border-radius: 50%;">
          <span class="ml-3 added-user-name text-capitalize">
            {{product_data.added_by.first_name}} {{product_data.added_by.last_name}}
          </span>
				</div>
				<span class="col col-3 ">
					<div class="dropdown">
					  <a href="#" class="" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-ellipsis-v three-dots" aria-hidden="true" style="color: black; background-color: white; font-size: 1.2rem; text-decoration: none; margin-top:4px;"></i>
					  </a>

					  <div class="dropdown-menu dropdown-menu-right" id="menu-drop" aria-labelledby="dropdownMenuLink" 	style="border-radius:10px">
						<a class="dropdown-item drop-option" href="/farmers/editproduct/{{product_data.id}}"><i class="far fa-edit mr-2" aria-hidden="true"></i>Edit</a>
						<a class="dropdown-item drop-option" href="/farmers/deleteproduct/{{product_data.id}}"><i class="fa fa-trash mr-2" aria-hidden="true"></i>Delete</a>
					  </div>
					</div>
				</span>
			</div>

			<h2 class="text-success mt-3">
        <b>{{product_data.product.prod_name}}</b>
      </h2>
			<div class="table-responsive">
				<table class="table table-sm table-borderless mb-0 mt-3">
				  <tbody>
					<tr>
					  <th class="pl-0 w-25" scope="row"><strong>Purchase For:</strong></th>
					  <td>NRs.{{product_data.price_per_kg}} per kg.</td>
					</tr>
					<tr>
					  <th class="pl-0 w-25" scope="row"><strong>Product Category:</strong></th>
					  <td>{{product_data.product.prod_category}}</td>
					</tr>
					<tr>
					  <th class="pl-0 w-25" scope="row"><strong>Added Date:</strong></th>
					  <td>{{product_data.added_date}}</td>
					</tr>
					<tr>
					  <th class="pl-0 w-50" scope="row"><strong>Available Quantity:</strong></th>
					  <td>{{product_data.quantity_in_kg}} kg</td>
					</tr>
				  </tbody>
				</table>
			  </div>
		</div>
    </div>
			<div class="mt-4">
                <h5  style="width:100%;border-bottom:1px solid silver; padding-bottom: 20px;"><b class="mb-3">Description</b></h5>
                    <p style="text-align:left; color: black;" >
                        {% if product_data.details %}
                        {{product_data.details}}
                        {% else %}
                        -
                        {% endif %}
                    </p>
            </div>
</div>

<!--Comment-->


<section class="content-item" id="comments">
    <div class="container">
    	<div class="row">
            <div class="col-sm-12 ml-2">
                <form method="POST">
                  {% csrf_token %}
                	<h3 class="pull-left"><b>Comments</b></h3>
                    <fieldset>
                        <hr>
                        <div class="media ml-2">
                            <img class="img-fluid mr-3" src="/{{user.profile.profile_pic}}" alt="" style="height: 2rem; width: 2rem; border-radius: 50%;">
                            <div class="media-body">
                                <textarea class="form-control" id="message" placeholder="Add a comment..." rows="5" name="comment"></textarea>
                            </div>
                        </div>
						<div class="col-xs-1 col-sm-12 col-lg-12">
							<button type="submit" class="btn btn-primary post-btn "><b>Post</b></button>
						</div>
                    </fieldset>
                </form>

                <h6 style="color: #007bff;"><b>{{product_data.product_comments|length}} Comments</b></h6><hr>

                <!-- COMMENT 1 - START -->
                {% for comment in product_data.product_comments %}
                <div class="media ml-2">
                    <a href=""><img class="img-fluid" src="/{{comment.comment_by.profile.profile_pic}}" alt="" style="height: 2rem; width: 2rem; border-radius: 50%;"></a>
                    <div class="media-body">
                        <h6 class="media-heading ml-3">
                          <b class="text-capitalize">{{comment.comment_by.first_name}} {{comment.comment_by.last_name}}</b> 
                          <!-- <span style="float: right;">2 days ago</span> -->
                        </h6>
                        <p class="ml-3">
                          {{comment.comment}}  
                        </p>
                    </div>
                </div>
                {% endfor %}
                <!-- COMMENT 1 - END -->

            </div>
        </div>
    </div>
</section>
{% endblock content %}