{% extends 'layout-buyers.html' %}

{% load static %}

{% block title %}
<title>Buy Equipments</title>
<link href="{% static 'farmers/css/farmersToVender.css' %}" rel="stylesheet">
{% endblock title %}

{% block content %}
  	<div id="cards_landscape_wrap-2">
        <div class="container">
		<!--Search-->

			<div class="box">
				<h1 style="margin:0 0 10px; padding:0; font-size:24px;">Equipment</h1>
				<form method='POST'>
					{% csrf_token %}
					<input type="text" class="search_input" name="search_value" placeholder="Type...">
					<input type="submit" class="search_button" name="" value="Search" >
				</form>
			</div><hr>
			

            <div class="row">
				{% for equipment in all_equipments %}
                <div class="col-sm-12 col-md-6 col-lg-3">
					<a href="/{{user_type}}/equipmentdetails/{{equipment.id}}">
                        <div class="card-flyer mx-auto">
                            <div class="text-box">
                                <div class="image-box">
                                    <img src="/{{equipment.eqp_img}}" alt="" />
                                </div>
								<div class="text-container ">
									<span class="text-success"><b>{{equipment.equipment.name}}</b></span><br>
									<span class="text-success"><b>Modal: {{equipment.modal}}</b></span><br>
									{% if equipment.available_to_buy %}
										<span><small>Purchase for: Rs. {{equipment.price_to_buy_per_item}} per item</small></span><br>
									{% endif %}
									{% if equipment.available_for_rent %}
										<span><small>Rent For: Rs. {{equipment.price_per_hour}} per hour</small></span><br>
										<span><small>Available Duration: {{equipment.duration}} hours</small></span><br>
									{% endif %}
								</div>
                            </div>
                        </div>
					</a>
				</div>
				{% endfor %}
			</div>

		</div>
	</div>


{% endblock content %}