{% extends 'layout-buyers.html' %}

{% load static %}

{% block title %}
<title>Buy Products</title>
<link href="{% static 'farmers/css/farmersToVender.css' %}" rel="stylesheet">
{% endblock title %}

{% block content %}
  	<div id="cards_landscape_wrap-2">
        <div class="container">
		<!--Search-->

			<div class="box">
				<h1 style="margin:0 0 10px; padding:0; font-size:24px;">Products</h1>
				<form id="search-product" action="/buyers/allProducts/" method="POST">
					{% csrf_token %}
					<input type="text" class="search_input" name="search_value" placeholder="Type...">
					<input type="submit" class="search_button" name="" value="Search" >
				</form>
			</div><hr>

            <div class="row">
				{% for product in all_products %}
                <div class="col-sm-12 col-md-6 col-lg-3">
					<a href="/{{user_type}}/productdetails/{{product.id}}">
                        <div class="card-flyer mx-auto">
                            <div class="text-box">
                                <div class="image-box">
                                    <img src="/{{product.product.prod_img}}" alt="" />
                                </div>
								<div class="text-container ">
									<span class="text-success"><b>{{product.product.prod_name}}</b></span><br>
                                    <span><small>Buy at: Rs. {{product.price_per_kg}} per kg</small></span><br>
								</div>
                            </div>
                        </div>
					</a>
				</div>
				{% endfor %}
			</div>

		</div>
	</div>

{% endblock content %}