{% extends 'layout-buyers.html' %}
{% block title %}
<title>Approved Equipment Requests</title>
<!-- insert css of this page here -->
{% endblock title %}


{% block content %}




        <div class="rounded mb-5 rounded p-4 mx-auto mt-5 shadow-lg p-3 mb-5 rounded" style="width:90%;">

        <div class="text-center mb-3">
          <h3>Approved Buy Requests</h3>            
        </div>

        <br>

      <div class="row">
        <div class="container">
            <div class="row justify-content-center m-3">
              <div style="height:40vh; overflow-y: scroll;">
              <table class="table table-striped table-hover table-borderless table-sm  text-center mt-2 bg-light" style="width:1300px;">
                 
                  <thead>
                     <tr style="font-size:16px; color:#A67B5B">
                        <th scope="col">S.N.</th>
                        <th scope="col">Request By</th>
                        <th scope="col">Requested Date</th>
                        <th scope="col">Product</th>
                        <th scope="col">Product Category</th>
                        <th scope="col">Quantity (in kg)</th>
                        <th scope="col">Total Price</th>
                        <th scope="col">Status</th>
                        <th scope="col">Remarks</th>
                      </tr>
                    </thead>

                    <tbody>
                      {% for prod_req in prod_request %}
                      <tr  style="font-size:14px;">
                        <th scope="row">{{forloop.counter}}</th>
                        <td class="text-capitalize">{{prod_req.sold_to.first_name}} {{prod_req.sold_to.last_name}}</td>                        
                        <td>{{prod_req.sold_date}}</td>
                        <td>{{prod_req.sold_product.product.prod_name}}</td>
                        <td>{{prod_req.sold_product.product.prod_category}}</td>
                        <td>{{prod_req.quantity_sold}}</td>
                        <td>{{prod_req.sold_price}}</td>
                        <td>
                          {% if prod_req.approved %}
                            Approved
                          {% else %}
                            Disapproved
                          {% endif %}
                          
                        </td>
                        <td class="text-capitalize">
                          {% if prod_req.remarks %}
                          {{prod_req.remarks}}
                          {% else %}
                          -
                          {% endif %}
                        </td>
                        
                      </tr>
                      
                      {% endfor %}
                    </tbody>
                

                  </table>
                  </div>
                  </div>
                  </div>
                  </div>

                </div>
        </div>


            






{% endblock content %}