<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins mt-5">
    <div class="wrapper wrapper--w680">
        <div class="card card-4" style="width: 100%;">
            <div class="card-body">
                <p class="title">Change Password</p>
                <form method="POST" action="/changePassword/">
                {% csrf_token %}                  
                    <div class="" style="margin-top: 25px;">

                        <div class="input-group-icon">
                            <input class="input--style-4" type="password" name="old_password" placeholder="Old Password">
                        </div>
                    </div>

                    <div class="">
                        <div class="input-group-icon">
                            <input class="input--style-4" type="password" name="new_password" placeholder="New Password">
                        </div>
                    </div>
                    
                    <div class="btn-block">
                        <button type="submit">Submit</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>