<footer class="page-footer bg-dark">
  <div class="text-center text-md-left mt-5">
    <div class="container-fluid pt-3">
      <div class="row">
        <div class="col-md-3 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold">About Us</h6>
          <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 80px; height: 2px">
          <p class="mt-2">Lorem ipsum dolor sit amet do, consectetur adipiscing elit, sed eiusmod tempor incididunt labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <div class="col-md-2 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold">Useful links</h6>
          <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 115px; height: 2px">
            <ul class="list-unstyled">
              <li class="my-2"><a href="#">Soil Test</a></li>
              <li class="my-2"><a href="#">Narc</a></li>
              <li class="my-2"><a href="#">Atlas</a></li>
              <li class="my-2"> <a href="#">Others</a></li>
            </ul>
        </div>
        <div class="col-md-3 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold">Contact Us</h6>
          <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 105px; height: 2px">
  
            <ul class="list-unstyled">
              <li class="my-2"><i class="fas fa-home mr-3"></i> Soil Analyzer, Ktm</li>
              <li class="my-2"><i class="fas fa-envelope mr-3"></i> soilanalyzer101@gmail.com</li>
              <li class="my-2"><i class="fas fa-phone mr-3"></i> +977-1234567890</li>
  
            </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">
    <p>&copy; 2021 Soil Analyzer.All rights reserved. Images taken from freepik.</p>
    <a href="https://www.facebook.com/" class="text-white"><i class="fab fa-facebook h2" style="margin-left: 1rem;" ></i></a>
    <a href="https://www.gmail.com/" class="text-white"> <i class="fas fa-envelope h2" style="margin-left: 1rem;"></i></a>
  </div>
</footer>