{% load static %}


    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'logo/logo.png' %}" width="100%" alt="company logo" class="image-responsive">
               </a>
            </div>

            <ul class="list-unstyled components">

                <li>
                    <a href="/admins/addProducts">Product</a>
                </li>
                <li>
                    <a href="/admins/addEquipments">Equipment</a>
                </li>
                <li>
                    <a href="/admins/users">Users</a>
                </li>
                <li>
                    <a href="/admins/tickets">Tickets</a>
                </li>
                <li class="active">
                    <a href="#reportSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Report</a>
                    <ul class="collapse list-unstyled" id="reportSubmenu">
                        <li>
                            <a href="/admins/reportProduct">Product</a>
                        </li>
                        <li>
                            <a href="/admins/reportEquipment">Equipment</a>
                        </li>
                        <li>
                            <a href="/admins/reportUser">User</a>
                        </li>

                    </ul>
                </li>
                 <li>
                    <a href="/admins/farmers">Farmers</a>
                </li>
                <li>
                    <a href="/admins/vendors">Vendors</a>
                </li>
                <li>
                    <a href="/admins/buyers">Buyers</a>
                </li>
                <li>
                    <a href="#servicesSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Details Services</a>
                    <ul class="collapse list-unstyled" id="servicesSubmenu">
                        <li>
                            <a href="/farmers">Farmers</a>
                        </li>
                        <li>
                            <a href="/vendors">Vendors</a>
                        </li>
                        <li>
                            <a href="/buyers">Buyers</a>
                        </li>
                    </ul>
                </li>

            </ul>


        </nav>
    </div>

