{% load static %}
  <nav
      class="navbar navbar-expand-lg navbar-dark bg-mattBlackLight fixed-top"
    >
      <button class="navbar-toggler sideMenuToggler" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>

      <a class="navbar-brand" href="#"><img src="static/images/logo.png" class="image-responsive" alt="company logo" width="50%"></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle p-0"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="material-icons icon">
                person
              </i>
              <span class="text">Account</span>
            </a>
            <div
              class="dropdown-menu dropdown-menu-right"
              aria-labelledby="navbarDropdown"
            >
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div class="wrapper d-flex">
      <div class="sideMenu bg-mattBlackLight">
        <div class="sidebar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="/admins/view-product" class="nav-link px-2">
                <i class="fas fa-salad"></i>
                <span class="text">Product</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admins/view-user" class="nav-link px-2">
                <i class="material-icons icon">
                  Equipment
                </i>
                <span class="text">Equipment</span>
              </a>
            </li>
              <li class="nav-item">
              <a href="/admins/register" class="nav-link px-2">
                <i class="material-icons icon">
                  user
                </i>
                <span class="text">Users</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admins/add-admin" class="nav-link px-2">
                <i class="material-icons icon">
                  add
                </i>
                <span class="text">Appoint Admin</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admins/notification" class="nav-link px-2">
                <i class="material-icons icon">
                  notice
                </i>
                <span class="text">Notification</span>
              </a>
            </li>
<!--            --------------------------------------------------------------------------------------->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle px-2" href="#" id="navbardrop" data-toggle="dropdown">
                <i class="material-icons icon">
                  report
                </i>
                <span class="text">Report</span>
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/admins/reportOn-product">Product</a>
                <a class="dropdown-item" href="/admins/reportOn-equipemnt">Equipment</a>
                <a class="dropdown-item" href="/admins/reportOn-users">Equipment</a>

              </div>
            </li>

             <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle px-2" href="#" id="navbardrop" data-toggle="dropdown">
                <i class="material-icons icon">
                  Trade
                </i>
                <span class="text">Trade</span>
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/admins/equipment-trade">Equipment</a>
                <a class="dropdown-item" href="/admins/goods-trade">Goods</a>
              </div>
            </li>



                  pages
                </i>
                <span class="text">Products</span>
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/admins/add-product">Add</a>
                <a class="dropdown-item" href="/admins/view-product">View</a>
              </div>
            </li>

             <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle px-2" href="#" id="navbardrop" data-toggle="dropdown">
                 <i class="material-icons icon"> insert_chart </i
                ><span class="text">Price</span></a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/admins/add-price">Add Price</a>
                <a class="dropdown-item" href="/admins/view-price">View</a>
              </div>
            </li>

            <li class="nav-item">
              <a href="#" class="nav-link px-2 sideMenuToggler">
                <i class="material-icons icon expandView ">
                  view_list
                </i>
                <span class="text">Resize</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
