
  <div class=" row justify-content-center mt-3">
    {% if user_data %}
    <div class="card mb-3 pt-4" style="width: 40rem; height:41rem;">
        <div class=" row justify-content-center">
        <img src="/{{user_data.profile_pic}}"  class="card-img-top rounded-circle" alt="image" style="width: 125px; height: 125px;">
        </div>
        <div class="card-body">
        
            <p class="card-text h5 text-center text-capitalize">{{user_data.user_type}}</p>
            <p class="card-text font-weight-light text-center">
              Bio: 
              {% if user_data.bio %}
              {{user_data.bio}}
              {% else %}
              -
              {% endif %}
            </p>

            <!-- <div class="row justify-content-center">
            <button type="button" class="btn btn-md btn-outline-dark" data-toggle="popover" title="Total Sales"
            data-content="15,050">Sell</button>

            <button type="button" class="btn btn-md btn-outline-dark ml-3" data-toggle="popover" title="Total Purchase"
            data-content="10,000">Purchase</button>
            </div> -->
            <br>


        <div class="bg-light">

            <div class="panel panel-default">
              
                <div class="panel-body">
                  <table class="table profile__table">
                    <tbody>
                      <tr>
                        <th class="font-weight h6">First Name</th>
                        <td class="font-weight-light h6">{{user_data.first_name}}</td>
                      </tr>
                      <tr>
                        <th class="font-weight h6">Last Name</th>
                        <td class="font-weight-light h6">{{user_data.last_name}}</td>
                      </tr>
                      <tr>
                        <th class="font-weight h6">Email</th>
                        <td class="font-weight-light h6">{{user_data.email}}</td>
                      </tr>
                      <tr>
                        <th class="font-weight h6">Address</th>
                        <td class="font-weight-light h6">
                          {% if user_data.address %}
                          {{user_data.address}}
                          {% else %}
                          -
                          {% endif %}
                        </td>
                      </tr>
                      <tr>
                        <th class="font-weight h6">Username</th>
                        <td class="font-weight-light h6">{{user_data.username}}</td>
                      </tr>
                      <tr>
                        <th class="font-weight h6">Phone Number</th>
                        <td class="font-weight-light h6">
                          {% if user_data.contact %}
                          {{user_data.contact}}
                          {% else %}
                          -
                          {% endif %}
                          
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>


        </div>

        <div class=" row justify-content-center">
          {% if user_data.user == user.id %}
            <a href="/{{user_data.user_type}}/profile/{{user_data.user}}/edit" class="btn btn-primary ml-4">Edit Profile</a>
          {% else %}
            <a href="/chat/m/{{user_data.username}}/" class="btn btn-primary ml-4">Chat</a>

            {% if not reported and not user.is_staff %}
            <a href="#" class="btn btn-primary ml-4" data-toggle="modal" data-target="#exampleModal">Report</a>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" >
                    <div class="modal-content" >
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Report User Form</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" action="/reportuser/{{user_data.user}}/">
                                {% csrf_token %}
                                <div class="input-group">
                                    <select class="selectProduct input--style-4" id="" name="report-category">
                                        {% for category in report_category %}
                                        <option value="{{category}}">{{category}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                                                    
                                <div class="" style="margin-top: 15px;">

                                    <div class="input-group-icon">
                                        <textarea class="input--style-4" name="description" placeholder="Reason" rows="2"></textarea>
                                    </div>
                                </div>
                                <div class="btn-block">
                                    <button type="submit">Report</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
          {% endif %}
        </div>

        </div>
        </div>
      </div>
      </div>

    <script>
      $(function () {
  $('[data-toggle="popover"]').popover()
})
    </script>
    {% else %}
    <div>
      <div class="display-4">
        No such user is present!
      </div>
    </div>
    {% endif %}
