{% extends 'layout_admin.html' %}
{% load static %}
{% include bootstrap %}
{% block title %}
<title>Buyer</title>

{% endblock title %}



{% block content %}

            <div class="container-fluid px-4">
                        <h1 class="mt-4">Buyers Details</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="/admins/">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="/admins/buyers-list">List of Buyers</a></li>
                           <li class="breadcrumb-item"><a href="/admins/buyers/">Rankings</a></li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-area me-1"></i>
                                Buying Fruits and Vegetable
                            </div>
                            {{prod_data.products|json_script:"prod_data"}}
                            <div class="card-body"><canvas id="myBarChart" width="100%" height="30"></canvas></div>
                            
                        </div>

            </div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
            <script src="{% static 'js/chart-bar-buyers.js' %}"></script>



{% endblock content %}