<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Krishi Sewa</title> 
    <link rel="stylesheet"type="text/css" href="css/Home.css">
</head>
<body>
    <header>
        <nav>
            <div class="row">
                <img src="images/logo.jpg" class="logo">
                
                <ul class="main-nav">
                <li><a href="#" class="btn btn-full">Signup</a></li>
                <li><a href="#" class="btn btn-nav">Login</a></li>
                </ul>
            </div>
        </nav>
        
        
    </header>

    <div class="main-content-header">

      <h1>Soil Analyzer</h1>
      
      <h4>To reduce losses, to increase production</h4>

    </div>

    <br>

    <div class="container">
          <h1>Our Motive</h1>
          <br>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.Deleniti explicabo itaque nihil praesentium. 
            Maxime tempora liquam odit ipsa delectus quia sapiente laudantium expedita ipsum corporis. A quam 
            ut labore consectetur!
          </p>
    </div>

    <br>
    
    <div class="container my-5">
        <div class="row">
          <div class="col-md-4">
            <h3 class="text-success">569</h3>
            <span class="text-capitalize">Happy Customer</span>
          </div>
          <div class="col-md-4">
            <h3 class="text-success">420</h3>
            <span class="text-capitalize">Crops Recommended</span>
          </div>
          <div class="col-md-4">
            <h3 class="text-success">84%</h3>
            <span class="text-capitalize">Modal Accuracy</span>
          </div>
        </div>
    </div>

    <br>
    
    
</body>
</html>