{% extends 'layout-normal.html' %}
{% load static %}

{% block title %}
<title>Login</title>
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/style.css' %}" />
{% endblock title %}
{% block content %}
    <div class="container my-5 py-2">
        {% if messages %}
        <div class="col-sm-6 col-lg-5 mx-auto text-center font-weight-bold">
            
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {% else %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {% endif %}

                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
            
        </div>
        {% endif %}
        <div class="row mt-2 px-3"><div class="col-lg-10 col-xl-9 card flex-row mx-auto px-0">
            <div class="img-left d-none d-md-flex"></div>

                <div class="card-body">
                    <h5 class="title text-center mt-4">Login</h5>
                    <form class="form-box px-3" method="POST">
                        {% csrf_token %}
                        <div class="form-input">
                            <span><i class="fas fa-user"></i></span>
                            <input type="text" name="username" placeholder="Username" required>
                        </div>
                        <div class="form-input">
                            <span><i class="fa fa-key"></i></span>
                            <input type="password" name="password" placeholder="password" required>
                        </div>

    <!-------------------------------------------Login button-------------------------------------------------------->       
                        <div class="mb-3">
                            <button type="submit" class="btn btn-block text-uppercase">LOGIN</button>
                        </div>
    <!-------------------------------------------forgotpassword-------------------------------------------------->                                   <div class="text-right">
                        <div>
                            <a href="/reset_password/" class="forget-link">Forgot Password?</a>
                        </div>
    <!-------------------------------------------Signup here--------------------------------------------------> 

                        <hr class="my-4">
                        <div class="text-center mb-2">
                            Don't have an account? <a href="/register" class="register-link">Register here</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}