{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'accounts/css/l.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="formWrapper">
        <div class="formDiv">
          <h1>Create Account</h1>
          <p class="text">Sign up with Email Address</p>
          <div class="form-input">
            <input
              type="text"
              name="fName"
              placeholder="Enter your firstname"
              required
            />
          </div>
          <div class="form-input">
            <input type="text" name="lname" placeholder="Enter your lastname" />
          </div>
          <div class="form-input">
            <input type="email" name="email" placeholder="Enter your email" />
          </div>
          <div class="form-input">
            <input
              type="text"
              name="username"
              placeholder="Create a username"
            />
          </div>

          <div class="form-input">
            <span><i class="fas fa-user"></i></span>
            <input
              type="text"
              name="password"
              placeholder="Create a password"
              required
            />
          </div>
          <div class="form-input">
            <span><i class="fa fa-key"></i></span>
            <input
              type="password"
              name="cpassword"
              placeholder="Confirm your password"
              required
            />
          </div>

          <div class="radio-container">
            <h3>Are you?</h3>

            <input type="radio" id="farmers" name="category" value="FARMERS" />
            <label for="farmers">Farmer</label>

            <input type="radio" id="buyers" name="category" value="BUYERS" />
            <label for="buyer">Buyer</label>

            <input type="radio" id="Vendors" name="category" value="VENDORS" />
            <label for="vendor">Vendor</label>
          </div>

          <div class="checkBox">
            <input type="checkbox" name="checkbox" id="checkbox" />
            <span>I Agree with Terms & Conditions</span>
          </div>

          <div class="mb-3">
            <button type="submit" class="btn btn-block text-uppercase">
              SIGN UP
            </button>
          </div>
        </div>
        <div class="welcomediv">
          <h1>WELCOME</h1>
          <p class="text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt
          </p>
          <button class="btn2">LOGIN</button>
        </div>
      </div>
    </div>
  </body>
</html>


