{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="titlelogo">
        <!-- <img src="{% static 'accounts/images/logo.jpg' %}" class="logo" /> -->
        <h1>Get Started</h1>
      </div>
      <div class="content">
        <form action="#">
          <div class="user-details">
            <div class="input-box">
              <span class="details">First Name</span>
              <input type="text" placeholder="Enter your firstname" required />
            </div>
            <div class="input-box">
              <span class="details">Last Name</span>
              <input type="text" placeholder="Enter your lastname" required />
            </div>
            <div class="input-box">
              <span class="details">Username</span>
              <input type="text" placeholder="Create a Username" required />
            </div>
            <div class="input-box">
              <span class="details">Email</span>
              <input type="text" placeholder="Enter your email" required />
            </div>
            <!--------------------------------------------------------radiobutton------------------------------- --------------- -->
            <div class="main-radiobutton">
              <h2>Are you?</h2>
              <div class="radiobuttons">
                <label class="custom-radio">
                  <input type="radio" name="radio" checked />
                  <span class="radio-btn"
                    ><i class="fas fa-check"></i>
                    <div class="person-check">
                      <i class="fas fa-tractor"></i>
                      <h3>Farmers</h3>
                    </div>
                  </span>
                </label>
                <label class="custom-radio">
                  <input type="radio" name="radio" />
                  <span class="radio-btn"
                    ><i class="las la-check"></i>
                    <div class="person-check">
                      <i class="fas fa-shopping-cart"></i>
                      <h3>Buyers</h3>
                    </div>
                  </span>
                </label>
                <label class="custom-radio">
                  <input type="radio" name="radio" />
                  <span class="radio-btn"
                    ><i class="las la-check"></i>
                    <div class="person-check">
                      <i class="fas fa-handshake"></i>
                      <h3>Vendors</h3>
                    </div>
                  </span>
                </label>
              </div>
            </div>

            <!-- --------------------------------------------------------radiobutton------------------------------- --------------->

            <div class="input-box">
              <span class="details">Password</span>
              <input type="text" placeholder="Enter your password" required />
            </div>
            <div class="input-box">
              <span class="details">Confirm Password</span>
              <input type="text" placeholder="Confirm your password" required />
            </div>
          </div>
          <div class="button">
            <input type="submit" value="SIGN UP" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
