{% extends 'layout-normal.html' %}
{% load static %}

{% block title %}
    <link rel="stylesheet" href="{% static 'accounts/css/l.css' %}" />
    <title>Sign Up</title>
{% endblock title %}


{% block content %}
<section>
 <div class="container py-5">
      
      <div class="formWrapper mt-5">
        
        <div class="formDiv">
        {% if messages %}
        <div class="text-center font-weight-bold d-flex">
            
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {% else %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {% endif %}

                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
            
        </div>
        {% endif %}
        <form method='POST'>
        {% csrf_token %}
          <h1>Create Account</h1>
          <div class="form-input">
            <input type="text" name="fname" placeholder="Firstname" required />
          </div>
          <div class="form-input">
            <input type="text" name="lname" placeholder="Lastname" required />
          </div>
          <div class="form-input">
            <input type="email" name="email" placeholder="Email" required />
          </div>
          <div class="form-input">
            <input type="text" name="username" placeholder="Username" required />
          </div>
          <div class="form-input">
            <input type="password" name="password" placeholder="Password" required />
          </div>
          <div class="radio-container">
            <h3>Are you a?</h3>

            <input type="radio" id="farmers" name="user_type" value="Farmers" required />
            <label for="farmers">Farmer</label>

            <input type="radio" id="buyers" name="user_type" value="Buyers" required />
            <label for="buyers">Buyer</label>

            <input type="radio" id="vendors" name="user_type" value="Vendors" required />
            <label for="vendors">Vendor</label>
          </div>

          <div class="checkBox">
            <input type="checkbox" name="checkbox" id="checkbox" required />
            <label for="checkbox">I Agree with Terms & Conditions</label>
          </div>

          <div class="mb-3">
            <button type="submit" class="btn">
              SIGN UP
            </button>
          </div>
          </form>
        </div>
        
        <div class="welcomediv">
          <h1>WELCOME</h1>
          <p class="text">
            Already have an account? Login now
          </p>
          <a href="/login" class="btn2 text-decoration-none text-white">LOGIN</a>
        </div>
      </div>
    </div>
</section>


{% endblock content %}




